/* Stylesheet for Dogs Page */


/* General */
* 
{
	background-color: #F4F4F4;
}

::selection
{
	background: #C0B283;
	color: #F4F4F4;
}

::-moz-selection
{
	background: #C0B283;
	color: #F4F4F4;
}


/* Menu Formatting */
.menu
{
	overflow: hidden;
	background-color: #C0B283;
	display: flex;
	justify-content: space-around;
}

.menu > a:link, .menu > a:visited
{
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	background-color: #C0B283;
	font-family: 'Open Sans';
	font-size: 20px;
	color: #373737;
}

.menu > a:hover
{
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	background-color: #DCD0C0;
	font-family: 'Open Sans';
	font-size: 20px;
	color: #373737;
}



/* Body Formatting */
a
{
	text-decoration: none;
	color: #C0B283;
}

h1
{
	font-size: 50px;
	font-family: 'Lilita One';
	letter-spacing: 15px;
	text-align: center;
}

p
{
	margin: 50px;
	font-size: 25px;
	font-family: 'Josefin Sans';
	line-height: 40px;
}


h2
{
	margin: 50px;
	font-family: 'Josefin Sans';
	font-style: bold;
	font-size: 30px;
}



/******** Dogs Page Formatting ********/
.homer
{
	margin: 50px;
}

.homer_descr
{
	width: 50%;
	float: left;
}

.homer_pics
{
	float: left;
}

video
{
	height: 600px;
	margin-left: auto;
}

img
{
	height: 600px;
}

.homer_profile_pic
{
	margin-right: auto;
}

.clear_fix
{
	clear: both;
}

.daisy_title
{
	text-align: right;
	margin-top: 70px;
}

.daisy
{
	margin: 50px;
}

.daisy_descr
{
	width: 30%;
	float: right;
	margin-top: 0;
}

.daisy_profile_pic
{
	float: right;
	margin-right: auto;
	margin-left: auto;
}

.sleepy_daisy
{
	margin-left: 50px;
	margin-right: auto;
}






